#login-section,
#register-section, 
#register-success-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input, label{
    display: block;
}

#login-submit-container, 
#register-submit-container{
    display: flex;
    justify-content: center;
}

#login-inputs-container, 
#register-inputs-container{
    display: flex; 
    flex-direction: column;
}

#register-success-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.validate{
    display: none;
    color: red;
}