#login-section,
#register-section, 
#register-success-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div, p{
    text-wrap-mode: wrap;
}

input, label{
    display: block;
}

#login-submit-container, 
#register-submit-container{
    display: flex;
    justify-content: center;
}

#login-inputs-container, 
#register-inputs-container{
    display: flex; 
    flex-direction: column;
}

/* #register-success-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
} */

.validate-valid{
    display: none;
}

.validate-invalid{
    display: block;
    color: red;
    text-wrap-mode: wrap;
}

#alertBox 
{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 0 10px gray;
}